{% extends 'base.html' %}

{% block content %}
<div class='m-5'>
    <div class="container-fluid">
        <div class='row'>
            <div class='col-md-3'>
                <div class="card" style="width: 18rem;">
                    <div class="card-header text-center">
                        All Tags
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% for at in alltags %} 
                                {% if not forloop.last %}
                                    <a href="/tags/{{at}}" >{{at.name}}</a> ,
                                {% else %}
                                    <a href="/tags/{{at}}" >{{at.name}}</a> 
                                {% endif %}
                            {% endfor %}
                        </li>      
                        <a class="btn btn-primary btn-lg btn-block btn-sm" href="addphoto" role="button">Add Photos</a>
                    </ul>
                </div> 
            </div>
            <div class='col-md-9'>
                <div class='row'>
                        {% for img in photos %}
                        <div class="card my-2 mr-2 " style="width: 18rem;">
                            <img class="card-img-top" src="{{img.image.url}}" alt="Card image cap">
                            <div class="card-body">
                                Tags : 
                                {% for tag in img.tags.all %} 
                                {% if not forloop.last %}
                                    <a href="/tags/{{tag}}" >{{tag.name}}</a> ,
                                {% else %}
                                    <a href="/tags/{{tag}}" >{{tag.name}}</a> 
                                {% endif %}
                                {% endfor %}
                            </div>
                            <a class="btn btn-outline-dark btn btn-sm" href="{% url 'viewPhoto' img.id %}" role="button">View Photo</a>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class='d-flex justify-content-center'>
<nav aria-label="...">
    <ul class="pagination">
        {% if photos.has_other_pages %}
            <ul class="pagination">
                {% if photos.has_previous %}
                    <li><a class="page-link" href="?page={{ photos.previous_page_number }}" tabindex="-1">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                {% endif %}
                {% for i in photos.paginator.page_range %}
                {% if photos.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if photos.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ photos.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Next</span>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </ul>
</nav>
</nav>
</div>
{% endblock %}